<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1">
        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=<d22f3f40-f29a-4c98-a4f0-d4956a9a830e>" type="text/javascript"></script>
        <script src="https://yastatic.net/s3/mapsapi-jslibs/area/0.0.1/util.calculateArea.min.js" type="text/javascript"></script>
        <script src="https://yastatic.net/s3/mapsapi-jslibs/polylabeler/1.0.1/polylabel.min.js" type="text/javascript"></script>
        <script>
        ymaps.ready(['polylabel.create']).then(function () {
            var map = new ymaps.Map('map', {
                        center: [58, 40],
                        zoom: 5,
                        controls: []
                    }, {
                        maxZoom: 6,
                        minZoom: 4
                });
            map.behaviors.disable(['dblClickZoom']);

            // Создадим менеджер объектов.
            var objectManager = new ymaps.ObjectManager();
            // Загрузим регионы.
            ymaps.borders.load('RU', {
                lang: 'ru',
                quality: 0
            }).then(function (result) {
                    // Добавляем полигоны в менеджер объектов.
                    objectManager.add(result.features.map(function (feature) {
                        feature.id = feature.properties.iso3166;
                        // В свойство regionName запишем название региона.
                        feature.properties.regionName = feature.properties.iso3166;
                        // Присваиваем регионам опции, нужные для модуля подписей полигонов.
                        feature.options = {
                        // Стандартный вид текста будет темный с белой обводкой.
                        labelDefaults: 'dark',
                        // Макет подписи.
                        labelLayout: '<div>{{properties.hintContent}}</div>',
                        // Цвет заливки.
                        fillColor: 'rgba(27, 125, 190, 0.8)',
						//убираем точку
                        labelDotVisible:false,
                        // Цвет обводки.
                        strokeColor: 'rgba(255, 255, 255, 0.8)',
                        //Убираем подсказку при наведении.
                        openHintOnHover: false,
                        // Допустимая погрешность в расчете вместимости подписи в полигон.
                        labelPermissibleInaccuracyOfVisibility: 4
                    };
                        return feature;
                    }));
                map.geoObjects.add(objectManager);

                // Запускаем модуль подписей.
                var polylabel = new ymaps.polylabel.create(map, objectManager);
                this.selectedRegionId = '';
                // Подписываемся на события подписей.
                objectManager.events.add(['click','labelclick'], function (event) {
                    var id = event.get('objectId');
                    // Получаем полигон, на котором произошло событие.
                    var polygon = objectManager.objects.getById(id).properties.name;
                    //Закрашиваем регион
                    if (this.selectedRegionId) {
                        objectManager.objects.setObjectOptions(this.selectedRegionId, {
                            strokeWidth: 1,
                            fillColor: 'rgba(27, 125, 190, 0.8)'
                        });
                    }
                    objectManager.objects.setObjectOptions(id, {strokeWidth: 2, fillColor: '#3B378180'});
                    this.selectedRegionId = id;
                    //-------------------------------------------------------------
                    JsInterface.invokeFunction(polygon)
                });
            });
        });
        </script>
        <style>
            html, body, #map  {
                width: 100%;
                height: 100%;
                padding: 0;
                margin: 0;
            }
        </style>
    </head>
    <body>
        <div id="map"></div>
    </body>
</html>
